## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")

vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)
# vacation_df.head()

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,1,Albany,US,92.05,clear sky,42.6001,-73.9662,NaN
1,6,Dusti,TJ,91.08,clear sky,37.3481,68.6640,Hotel Izzat
2,11,Palafrugell,ES,88.56,overcast clouds,41.9174,3.1631,Hotel La Torre
3,17,Jamestown,US,85.01,few clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
4,27,Rudbar,AF,98.42,few clouds,30.1500,62.6000,NaN
5,38,Buraydah,SA,98.64,few clouds,26.3260,43.9750,Mövenpick Qassim
6,61,Sur,OM,88.02,overcast clouds,22.5667,59.5289,Sur Plaza Hotel
7,69,Itaituba,BR,89.37,overcast clouds,-4.2761,-55.9836,Hotel Campos
8,75,Altamira,BR,93.31,scattered clouds,-3.2033,-52.2064,Requinte Hotel
9,76,Atar,MR,86.56,light rain,20.5169,-13.0499,Oumou Elghoura

In [5]:
vacation_df = vacation_df.dropna()
vacation_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
1,6,Dusti,TJ,91.08,clear sky,37.3481,68.6640,Hotel Izzat
2,11,Palafrugell,ES,88.56,overcast clouds,41.9174,3.1631,Hotel La Torre
3,17,Jamestown,US,85.01,few clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
5,38,Buraydah,SA,98.64,few clouds,26.3260,43.9750,Mövenpick Qassim
6,61,Sur,OM,88.02,overcast clouds,22.5667,59.5289,Sur Plaza Hotel
...,...,...,...,...,...,...,...,...
112,670,Miro Khan,PK,90.43,overcast clouds,27.7599,68.0921,Mukhtiar Dayo
113,673,The Valley,AI,87.66,scattered clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
114,680,Sao Joao Do Piaui,BR,91.36,overcast clouds,-8.3581,-42.2467,Nayra Palace Hotel
115,683,Sabancuy,MX,92.68,few clouds,18.9667,-91.1833,pulpo
116,685,Presidencia Roque Saenz Pena,AR,89.38,overcast clouds,-26.7852,-60.4388,Hotel Gualok

In [39]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
city_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [40]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=city_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig
# 4b. Display the figure

Figure(layout=FigureLayout(height='420px'))

In [41]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Redondo"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Redondo"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Hellin"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Palafrugell"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Jaen"]

In [42]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
stop3 = vacation_stop3["Lat"].values[0], vacation_stop3["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

# maybe need to look at to_numpy

(38.6487, -7.5471)
(38.6487, -7.5471)
(38.5106, -1.701)
(41.9174, 3.1631)
(38.0, -3.5)

In [43]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2,stop3],
    travel_mode="DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,198,Redondo,PT,93.88,clear sky,38.6487,-7.5471,Monte Horta Maria Francisca
1,352,Hellin,ES,87.53,clear sky,38.5106,-1.7010,Hotel Restaurante Reina Victoria
2,11,Palafrugell,ES,88.56,overcast clouds,41.9174,3.1631,Hotel La Torre
3,500,Jaen,ES,97.25,clear sky,38.0000,-3.5000,Hotel TRH Baeza

In [48]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [49]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig = gmaps.figure()
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))